#standings-card{
    margin-top: 20px;
    margin-bottom: 20px;
}

#standings-title {
    display: flex;
    align-items: center;
}

.efl-picture {
   /* content: url("/assets/images/efl-logo.svg"); */
    width: 60px;
    height: 60px;
}

.first-place {
   /* background: rgba(84, 167, 89, 0.8); */
}

.second-place {
  /*  background: rgba(84, 167, 89, 0.6); */
}

.third-place {
  /*  background: rgba(84, 167, 89, 0.4); */
}

.relegation-place {
    background: rgba(212, 111, 106, 0.6);
}

.team-name-column {
    display: flex;
    align-items: center;
}

.astonvilla-picture, .birmigham-picture, .blackburn-picture, .bolton-picture,
.brentford-picture, .bristol-picture, .derby-picture, .hull-picture,
.ipswich-picture, .leeds-picture, .middle-picture, .millwall-picture,
.norwich-picture, .nottingham-picture, .preston-picture, .qpr-picture,
.reading-picture, .rotherham-picture, .sheffield-picture, .sheffield-wednesday-picture, 
.stoke-picture, .swansea-picture, .wba-picture , .wigan-picture{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}



.points-column {
    font-weight: bold;
}
